<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.tailwindcss.com"></script>

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  <title>Boston Food Trucks</title>
</head>

<body class="h-full">
  <div class="flex h-full flex-col md:flex-row">
    <div class="flex-1" id="map" style="flex: 2.5;"></div>

    <div class="flex-1 border-t md:border-t-0 md:border-l border-solid border-gray-300 overflow-scroll">
      {{$days := .Days}}
      {{$today := .Today}}
      {{range $location, $trucks := .Trucks}}
      <div>
        <a href="#" class="text-xl p-3 bg-gray-100 block border-b border-solid border-gray-200 hover:underline"
          data-location="{{$location}}">
          {{$location}}
        </a>

        {{range $_, $truck := $trucks}}
        <div class="p-3 border-b border-gray-200 flex flex-wrap items-center">
          <span class="flex-1 {{if (index $truck.Schedule $today)}}{{else}}text-gray-400{{end}} mr-4">
            {{$truck.Name}}
          </span>

          <span class="text-gray-600">
            {{range $_, $day := $days}}
            <span
              class="pr-1 {{if (index $truck.Schedule $day)}}font-bold text-grey-700{{else}}text-gray-400{{end}}">{{ShortDay
              $day}}</span>
            {{end}}
          </span>
        </div>
        {{end}}
      </div>
      {{end}}
    </div>
  </div>

  <script src="/static/app.js"></script>

  <script>
    mapboxgl.accessToken = "{{.MapboxAPIKey}}";
    window.truckData = {{.TrucksJSON }};
  </script>

  <style>
    .mapboxgl-popup-close-button {
      padding: 6px 10px;
    }
  </style>
</body>

</html>
